<template>
  <div class="home">
    <button v-if="!connected" v-on:click="connect">Connect</button>

    <input v-if="connected" v-model="topicName" class="name" />
    <button v-if="connected" v-on:click="subscribe">Subscribe</button>
    <frame-body
      v-for="message in messages"
      v-bind:key="message"
      v-bind="message"
    >
    </frame-body>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import FrameBody from "@/components/FrameBody.vue"; // @ is an alias to /src
import SockJS from "sockjs-client";
import Stomp from "webstomp-client";

@Options({
  components: {
    FrameBody,
  },
})
export default class Home extends Vue {
  topicName = "";
  socket: any;
  stompClient: any;
  connected = false;
  messages: any[] = [];
  data() {
    return {
      received_messages: [],
      send_message: null,
      connected: false
    };
  }

  connect() {
    this.socket = new SockJS("http://localhost:8088/ws");
    this.stompClient = Stomp.over(this.socket);
    this.stompClient.connect(
      {},
      (frame: any) => {
        this.connected = true;
      },
      (error: any) => {
        console.log(error);
        this.connected = false;
      }
    );
  }

  subscribe() {
    const givenTopicName = this.topicName;
    this.stompClient.subscribe("/topic/" + this.topicName, (frame: any) => {
      console.log(frame);
      this.messages.push({
        topicName: givenTopicName,
        body: frame.body.toString(),
      });
    });
  }

  disconnect() {
    if (this.stompClient) {
      this.stompClient.disconnect();
    }
    this.connected = false;
  }

  tickleConnection() {
    this.connected ? this.disconnect() : this.connect();
  }
}
</script>
