<template>
  <div class="hello">
    Topic: {{  topicName }}
    <br />
     Message: {{ body }}
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";

@Options({
  props: {
    topicName: String,
    body: String,
  },
})
export default class FrameBody extends Vue {
  topicName!: string;
  body!: string;
  data() {
    return {
    };
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.hello {
  margin-top: 5px;
}
</style>
